<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	</head>
	<body>
		<% include nav %>
		<h1><%= title %></h1>
		<dl>
			<dt>Name</dt>
			<dd>
				<ul>
					<li>Serelex</li>
					<li>Lexico-Semantic Search Engine</li>
				</ul>
			</dd>
			<dt>Source code</dt>
			<dd>
				<ul>
					<li><a target="_blank" href="https://github.com/PomanoB/lsse">https://github.com/PomanoB/lsse</a></li>
					<li><a target="_blank" href="https://github.com/jgc128/Serelex">https://github.com/jgc128/Serelex</a></li>
				</ul>
			</dd>
			<dt>Publications</dt>
			<dd>
				<ul>
					<li>Панченко A., Адейкин С., Романов П., Романов A. Извлечение семантических отношений из статей Википедии с помощью алгоритмов ближайших соседей. // Труды конференции Анализ Социальных сетей, Изображений и Текстов (АИСТ) --- Екатеринбург, 2012 --- С.~208--219.</li>
					<li>Panchenko A., Adeykin S., Romanov P., Romanov A. Extraction of Semantic Relations between Concepts with KNN Algorithms on Wikipedia. // In Proceedings of Concept Discovery in Unstructured Data Workshop (CDUD), International Conference On Formal Concept Analysis (ICFCA 2012) — Leuven (Belgium), 2012</li>
					<li>Alexander Panchenko, Sergey Adeykin, Alexey Romanov and Pavel Romanov.Extraction of Semantic Relations between Concepts with KNN Algorithms on Wikipedia. In.: Dmitry I. Ignatov, Sergei O. Kuznetsov, Jonas Poelmans (Eds.) Proceedings of 2nd International Workshop on Concept Discovery in Unstructured Data 2012. Published by KU-Leuven, ISBN 978-9-08-140991-9</li>
					<li>Panchenko A., Morozova O., Naets H. “A Semantic Similarity Measure Based on Lexico-Syntactic Patterns.” // In Proceedings of 11th Conference on Natural Language Processing (KONVENS 2012), — Vienna (Austria), 2012 </li>
				</ul>
			</dd>
		</dl>
		
	</body>
</html>