<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

		<script src="/js/lsse.js"></script>
		<script src="/js/search.js"></script>

		<script>
			
			var advanced = false;
			$(function(){
				
				var defaultModel = 'norm60-corpus-all';
				
				$('#model').val(defaultModel);
			});
			
		</script>

	</head>
	<body>
		<% include nav %>
		<h1><%= title %></h1>
		<form action="?" id="input_form">
			<input type="text" placeholder="input word" id="input_word" />
			<input type="hidden" name="model" id="model" />
			<input type="submit" value="Search" />
		</form>
		<div id="result">
			
		</div>

	</body>
</html>