<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

		<script src="/js/lsse.js"></script>
		<script src="/js/search.js"></script>

		<script>
			
			var advanced = false;
			$(function(){
				
				var defaultModel = 'norm60-corpus-all';
				
				$('#model').val(defaultModel);
			});
			
		</script>

		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34670459-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<% include nav %>
		<h1><%= title %></h1>
		<form action="?" id="input_form">
			<input type="text" placeholder="input word" id="input_word" autocomplete='off' />
			<input type="hidden" name="model" id="model" />
			<input type="submit" value="Search" />
			<ul id="suggest_results">
				<li>dog</li>
				<li>cat</li>
				<li>human</li>
			</ul>
		</form>
		<div id="result">
			
		</div>
		<a href="#show_all" id="show_all">Show all results...</a>
	</body>
</html>