<nav>
		<ul>
			<li>
				<a href="/"><%= lingua.nav.main %></a>
			</li>
			<li>
				<a href="/page/advanced"><%= lingua.nav.advanced %></a>
			</li>
			<li>
				<a href="/page/about"><%= lingua.nav.about %></a>
			</li>
			<li><a href="?language=en">en</a></li>
			<li><a href="?language=ru">ru</a></li>
		</ul>
</nav>