body 
{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a 
{
	color: #00B7FF;
}
#result
{
	padding: 20px 40px 10px 40px;
}
nav>ul, footer>ul, #suggest_results
{
	list-style-type: none;
}
nav>ul>li, footer>ul>li
{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #dda;
}
nav>ul>li:first-child, footer>ul>li:first-child
{
	border-left: 0;
}

#input_form
{
	position: relative;
}
#input_word
{
	width: 160px;
	border: 1px solid #ccc;
}
#suggest_results
{
	padding: 0;
	margin: 0;
	width: 162px;
	position: absolute;
	display: none;
}
#suggest_results>li
{
	border: 1px solid #ccc;
	padding: 2px;
	cursor: pointer;
	background-color: #fff;
}
#suggest_results>li.active
{
	background-color: #ccc;
}