body 
{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a 
{
	color: #00B7FF;
}
#result
{
	padding: 20px 40px 10px 40px;
}
nav>ul, footer>ul, #suggest_results
{
	list-style-type: none;
}
nav>ul>li, footer>ul>li
{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #dda;
}
nav>ul>li:first-child, footer>ul>li:first-child
{
	border-left: 0;
}

#input_form
{
	position: relative;
}
#input_word
{
	width: 160px;
	border: 1px solid #ccc;
}
#suggest_results
{
	padding: 0;
	margin: 0;
	width: 162px;
	position: absolute;
	display: none;
}
#suggest_results>li
{
	border: 1px solid #ccc;
	padding: 2px;
	cursor: pointer;
	background-color: #fff;
}
#suggest_results>li.active, #suggest_results>li:hover
{
	background-color: #ccc;
}

#switches
{
	float: right;
}
#switches>a
{
	color: #888;
	border-left: 1px solid #888;
	padding-left: 5px;
}
#switches>a:first-child
{
	border-left: 0;
}

#model_description, #grpah_options
{
	position: absolute;
	width: 300px;
	display: none;
	padding: 20px;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 15px;
	margin-left: 10px;
	background-color: #eee;
	box-shadow: 3px 3px 6px;
	z-index: 990;
}
#model_description>a[href="#close"], #grpah_options>a[href="#close"]
{
	float: right;
}
#result table td
{
	vertical-align: middle;
}
#result table td:first-child
{
	text-align: right;
	width: 40px;
}
.result_icon
{
	height: 32px;
}
#example_search, #example_search>a
{
	color: #888;
}

#graph_container
{
	left: 560px;
	right: 20px;
	top: 100px;
	bottom: 10px;
	position: absolute;
}
#graph_container>svg
{
	width: 100%;
	height: 100%;
}
#graph_container svg .node
{
	cursor: pointer;
}
#graph_container svg .parent
{
	font-weight: bold;
}
#graph_container>div
{
	position: absolute;
	background-color: #fff;
}
#grpah_options
{
	display: none;
	position: absolute;
	left: 550px;
	margin-top: -50px;
	width: 350px;
}
.graph_small_option
{
	width: 50px;
}

.relevance
{
	/*position: absolute;*/
	display: none;
	max-width: 400px;
	margin-top: -100px;
	z-index: 999;
	background-color: #fff;
	position: absolute;
	right: 10px;
}
ul.relevance_select
{
	list-style-type: none;
}
ul.relevance_select>li
{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(/images/smile.png);
	background-repeat: no-repeat;
	margin: 5px;
	cursor: pointer;
}
ul.relevance_select>li.relevance_mix
{
	background-position: -60px 0;
}
ul.relevance_select>li.relevance_bad
{
	background-position: -120px 0;
}

.social_buttons
{
	position: absolute;
	right: 0;
	top: 150px;
	display: none;
}
.fb-like
{
	top: -3px;
}
#vk_like
{
	display: inline;
}
